html:root {
    --textPadding: 0.3em;
    --buttonPadding: calc(var(--textPadding) * 1.5);
    --textBorderRadius: 0.3em;
    --buttonBorderRadius: var(--textBorderRadius);
    --headerSVGSize: 24px;
}

html.lightTheme:root, html.darkTheme:root {
    --blue_lightTheme: #0099F5;
    --blueVar1_lightTheme: #53AAE0;
    --blueVar2_lightTheme: #AAD7F5;
    --yellow_lightTheme: #EFD900;
    --yellowVar1_lightTheme: #E1D14C;
    --yellowVar2_lightTheme: #EAE29A;
    --red_lightTheme: #F51101;
    --redVar1_lightTheme: #E55147;
    --redVar2_lightTheme: #E59F9B;
    --green_lightTheme: #01F542;
    --greenVar1_lightTheme: #4DF079;
    --greenVar2_lightTheme: #9AEBAF;
    --orange_lightTheme: #E07B00;
    --orangeVar1_lightTheme: #E5A04C;
    --orangeVar2_lightTheme: #F0C696;
    --purple_lightTheme: #6E00FF;
    --purpleVar1_lightTheme: #8E50E6;
    --purpleVar2_lightTheme: #BE9EE5;
    --grey_lightTheme: rgb(200, 200, 200);
    --greyFilter1_lightTheme: rgba(200, 200, 200, 0.5);
    --greyFilter2_lightTheme: rgba(200, 200, 200, 0.3);
    --greyFilter3_lightTheme: rgba(200, 200, 200, 0.8);
    --lightC_lightTheme: rgb(255, 255, 255);
    --lightCFilter1_lightTheme: rgba(255, 255, 255, 0.5);
    --lightCFilter2_lightTheme: rgba(255, 255, 255, 0.3);
    --lightCFilter3_lightTheme: rgba(255, 255, 255, 0.8);
    --reverseC_lightTheme: rgb(0, 0, 0);
    --reverseCFilter1_lightTheme: rgba(0, 0, 0, 0.5);
    --reverseCFilter2_lightTheme: rgba(0, 0, 0, 0.3);
    --reverseCFilter3_lightTheme: rgba(0, 0, 0, 0.8);

    --blue_darkTheme: #0085D8;
    --blueVar1_darkTheme: #3D7EA6;
    --blueVar2_darkTheme: #6D8A9D;
    --yellow_darkTheme: #D3BE00;
    --yellowVar1_darkTheme: #A59A38;
    --yellowVar2_darkTheme: #938E61;
    --red_darkTheme: #D80E00;
    --redVar1_darkTheme: #AA3C35;
    --redVar2_darkTheme: #8E6360;
    --green_darkTheme: #00BD32;
    --greenVar1_darkTheme: #31994D;
    --greenVar2_darkTheme: #4E7759;
    --orange_darkTheme: #C36B00;
    --orangeVar1_darkTheme: #AB7839;
    --orangeVar2_darkTheme: #987E60;
    --purple_darkTheme: #6200E2;
    --purpleVar1_darkTheme: #6A3CAB;
    --purpleVar2_darkTheme: #76628E;
    --grey_darkTheme: rgb(120, 120, 120);
    --greyFilter1_darkTheme: rgba(120, 120, 120, 0.5);
    --greyFilter2_darkTheme: rgba(120, 120, 120, 0.3);
    --greyFilter3_darkTheme: rgba(120, 120, 120, 0.8);
    --reverseC_darkTheme: rgb(255, 255, 255);
    --reverseCFilter1_darkTheme: rgba(255, 255, 255, 0.5);
    --reverseCFilter2_darkTheme: rgba(255, 255, 255, 0.3);
    --reverseCFilter3_darkTheme: rgba(255, 255, 255, 0.8);
    --lightC_darkTheme: rgb(0, 0, 0);
    --lightCFilter1_darkTheme: rgba(0, 0, 0, 0.5);
    --lightCFilter2_darkTheme: rgba(0, 0, 0, 0.3);
    --lightCFilter3_darkTheme: rgba(0, 0, 0, 0.8);

    --grey: rgb(200, 200, 200);
    --greyFilter1: rgba(200, 200, 200, 0.5);
    --greyFilter2: rgba(200, 200, 200, 0.3);
    --greyFilter3: rgba(200, 200, 200, 0.8);
    --white: rgb(255, 255, 255);
    --whiteFilter1: rgba(255, 255, 255, 0.5);
    --whiteFilter2: rgba(255, 255, 255, 0.3);
    --whiteFilter3: rgba(255, 255, 255, 0.8);
    --black: rgb(0, 0, 0);
    --blackFilter1: rgba(0, 0, 0, 0.5);
    --blackFilter2: rgba(0, 0, 0, 0.3);
    --blackFilter3: rgba(0, 0, 0, 0.8);
}

html:root, html.lightTheme:root {
    --blue: #0099F5;
    --blueVar1: #53AAE0;
    --blueVar2: #AAD7F5;
    --yellow: #EFD900;
    --yellowVar1: #E1D14C;
    --yellowVar2: #EAE29A;
    --red: #F51101;
    --redVar1: #E55147;
    --redVar2: #E59F9B;
    --green: #01F542;
    --greenVar1: #4DF079;
    --greenVar2: #9AEBAF;
    --orange: #E07B00;
    --orangeVar1: #E5A04C;
    --orangeVar2: #F0C696;
    --purple: #6E00FF;
    --purpleVar1: #8E50E6;
    --purpleVar2: #BE9EE5;

    --blue_reverse: #0085D8;
    --blueVar1_reverse: #3D7EA6;
    --blueVar2_reverse: #6D8A9D;
    --yellow_reverse: #D3BE00;
    --yellowVar1_reverse: #A59A38;
    --yellowVar2_reverse: #938E61;
    --red_reverse: #D80E00;
    --redVar1_reverse: #AA3C35;
    --redVar2_reverse: #8E6360;
    --green_reverse: #00BD32;
    --greenVar1_reverse: #31994D;
    --greenVar2_reverse: #4E7759;
    --orange_reverse: #C36B00;
    --orangeVar1_reverse: #AB7839;
    --orangeVar2_reverse: #987E60;
    --purple_reverse: #6200E2;
    --purpleVar1_reverse: #6A3CAB;
    --purpleVar2_reverse: #76628E;

    --grey: rgb(200, 200, 200);
    --greyFilter1: rgba(200, 200, 200, 0.5);
    --greyFilter2: rgba(200, 200, 200, 0.3);
    --greyFilter3: rgba(200, 200, 200, 0.8);
    --lightC: rgb(255, 255, 255);
    --lightCFilter1: rgba(255, 255, 255, 0.5);
    --lightCFilter2: rgba(255, 255, 255, 0.3);
    --lightCFilter3: rgba(255, 255, 255, 0.8);
    --reverseC: rgb(0, 0, 0);
    --reverseCFilter1: rgba(0, 0, 0, 0.5);
    --reverseCFilter2: rgba(0, 0, 0, 0.3);
    --reverseCFilter3: rgba(0, 0, 0, 0.8);
}

html.darkTheme:root {
    --blue: #0085D8;
    --blueVar1: #3D7EA6;
    --blueVar2: #6D8A9D;
    --yellow: #D3BE00;
    --yellowVar1: #A59A38;
    --yellowVar2: #938E61;
    --red: #D80E00;
    --redVar1: #AA3C35;
    --redVar2: #8E6360;
    --green: #00BD32;
    --greenVar1: #31994D;
    --greenVar2: #4E7759;
    --orange: #C36B00;
    --orangeVar1: #AB7839;
    --orangeVar2: #987E60;
    --purple: #6200E2;
    --purpleVar1: #6A3CAB;
    --purpleVar2: #76628E;

    --blue_reverse: #0099F5;
    --blueVar1_reverse: #53AAE0;
    --blueVar2_reverse: #AAD7F5;
    --yellow_reverse: #EFD900;
    --yellowVar1_reverse: #E1D14C;
    --yellowVar2_reverse: #EAE29A;
    --red_reverse: #F51101;
    --redVar1_reverse: #E55147;
    --redVar2_reverse: #E59F9B;
    --green_reverse: #01F542;
    --greenVar1_reverse: #4DF079;
    --greenVar2_reverse: #9AEBAF;
    --orange_reverse: #E07B00;
    --orangeVar1_reverse: #E5A04C;
    --orangeVar2_reverse: #F0C696;
    --purple_reverse: #6E00FF;
    --purpleVar1_reverse: #8E50E6;
    --purpleVar2_reverse: #BE9EE5;

    --grey: rgb(120, 120, 120);
    --greyFilter1: rgba(120, 120, 120, 0.5);
    --greyFilter2: rgba(120, 120, 120, 0.3);
    --greyFilter3: rgba(120, 120, 120, 0.8);
    --reverseC: rgb(255, 255, 255);
    --reverseCFilter1: rgba(255, 255, 255, 0.5);
    --reverseCFilter2: rgba(255, 255, 255, 0.3);
    --reverseCFilter3: rgba(255, 255, 255, 0.8);
    --lightC: rgb(0, 0, 0);
    --lightCFilter1: rgba(0, 0, 0, 0.5);
    --lightCFilter2: rgba(0, 0, 0, 0.3);
    --lightCFilter3: rgba(0, 0, 0, 0.8);
}

html.beigeTheme:root {
    --lightC: beige;
}

html.blueMain {
    --mainColor: var(--blue);
    --mainColorVar1: var(--blueVar1);
    --mainColorVar2: var(--blueVar2);
    --mainColor_reverse: var(--blue_reverse);
    --mainColorVar1_reverse: var(--blueVar1_reverse);
    --mainColorVar2_reverse: var(--blueVar2_reverse);
    --mainColor_lightTheme: var(--blue_lightTheme);
    --mainColorVar1_lightTheme: var(--blueVar1_lightTheme);
    --mainColorVar2_lightTheme: var(--blueVar2_lightTheme);
    --mainColor_darkTheme: var(--blue_darkTheme);
    --mainColorVar1_darkTheme: var(--blueVar1_darkTheme);
    --mainColorVar2_darkTheme: var(--blueVar2_darkTheme);
}

html.yellowMain {
    --mainColor: var(--yellow);
    --mainColorVar1: var(--yellowVar1);
    --mainColorVar2: var(--yellowVar2);
    --mainColor_reverse: var(--yellow_reverse);
    --mainColorVar1_reverse: var(--yellowVar1_reverse);
    --mainColorVar2_reverse: var(--yellowVar2_reverse);
    --mainColor_lightTheme: var(--yellow_lightTheme);
    --mainColorVar1_lightTheme: var(--yellowVar1_lightTheme);
    --mainColorVar2_lightTheme: var(--yellowVar2_lightTheme);
    --mainColor_darkTheme: var(--yellow_darkTheme);
    --mainColorVar1_darkTheme: var(--yellowVar1_darkTheme);
    --mainColorVar2_darkTheme: var(--yellowVar2_darkTheme);
}

html.redMain {
    --mainColor: var(--red);
    --mainColorVar1: var(--redVar1);
    --mainColorVar2: var(--redVar2);
    --mainColor_reverse: var(--red_reverse);
    --mainColorVar1_reverse: var(--redVar1_reverse);
    --mainColorVar2_reverse: var(--redVar2_reverse);
    --mainColor_lightTheme: var(--red_lightTheme);
    --mainColorVar1_lightTheme: var(--redVar1_lightTheme);
    --mainColorVar2_lightTheme: var(--redVar2_lightTheme);
    --mainColor_darkTheme: var(--red_darkTheme);
    --mainColorVar1_darkTheme: var(--redVar1_darkTheme);
    --mainColorVar2_darkTheme: var(--redVar2_darkTheme);
}

html.greenMain {
    --mainColor: var(--green);
    --mainColorVar1: var(--greenVar1);
    --mainColorVar2: var(--greenVar2);
    --mainColor_reverse: var(--green_reverse);
    --mainColorVar1_reverse: var(--greenVar1_reverse);
    --mainColorVar2_reverse: var(--greenVar2_reverse);
    --mainColor_lightTheme: var(--green_lightTheme);
    --mainColorVar1_lightTheme: var(--greenVar1_lightTheme);
    --mainColorVar2_lightTheme: var(--greenVar2_lightTheme);
    --mainColor_darkTheme: var(--green_darkTheme);
    --mainColorVar1_darkTheme: var(--greenVar1_darkTheme);
    --mainColorVar2_darkTheme: var(--greenVar2_darkTheme);
}

html.purpleMain {
    --mainColor: var(--purple);
    --mainColorVar1: var(--purpleVar1);
    --mainColorVar2: var(--purpleVar2);
    --mainColor_reverse: var(--purple_reverse);
    --mainColorVar1_reverse: var(--purpleVar1_reverse);
    --mainColorVar2_reverse: var(--purpleVar2_reverse);
    --mainColor_lightTheme: var(--purple_lightTheme);
    --mainColorVar1_lightTheme: var(--purpleVar1_lightTheme);
    --mainColorVar2_lightTheme: var(--purpleVar2_lightTheme);
    --mainColor_darkTheme: var(--purple_darkTheme);
    --mainColorVar1_darkTheme: var(--purpleVar1_darkTheme);
    --mainColorVar2_darkTheme: var(--purpleVar2_darkTheme);
}

html.orangeMain {
    --mainColor: var(--orange);
    --mainColorVar1: var(--orangeVar1);
    --mainColorVar2: var(--orangeVar2);
    --mainColor_reverse: var(--orange_reverse);
    --mainColorVar1_reverse: var(--orangeVar1_reverse);
    --mainColorVar2_reverse: var(--orangeVar2_reverse);
    --mainColor_lightTheme: var(--orange_lightTheme);
    --mainColorVar1_lightTheme: var(--orangeVar1_lightTheme);
    --mainColorVar2_lightTheme: var(--orangeVar2_lightTheme);
    --mainColor_darkTheme: var(--orange_darkTheme);
    --mainColorVar1_darkTheme: var(--orangeVar1_darkTheme);
    --mainColorVar2_darkTheme: var(--orangeVar2_darkTheme);
}